.Notifications {
  position: relative;
  border: 1px dotted #e12948;
  padding: 10px;
}

.Notifications ul li[data-priority='default'] {
  color: blue;
}

.Notifications ul li[data-priority='urgent'] {
  color: red;
}
